h2 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 10%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.trip_container {
    background-color: #8e8e8e;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}
.trip_btn {
    background-color: #3c66ef;
    color: rgb(255, 255, 255);
    padding: 15px 25px;
    text-decoration: none;
}
.trip_btn:hover {
    background-color: #1d42bc;
}
.buttons_container {
    display: flex;
    gap: 10px;
    padding-right: 10%;
}